<%= render 'users/user' %>

<table>
  <thead>
    <tr>
      <th><%= "Following(followeds)(#{@user.followeds.count})" %></th>
      <th colspan="3"></th>
    </tr>
  </thead> 
  <tbody>
    <% @user.followeds.each do |u| %>
      <tr>
        <td><%= u.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>